#root {
  width: 100%;
  height: 100%;
  font-family: 'Courier New', Courier, monospace;
}

#nav {
  padding: 0 0 30px;
  text-align: center;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#nav a.isDisabled {
  color: #ddd;
}